.form {
    border: 1px solid black;
    padding: 20px 10px;
    max-width: 350px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    align-self: flex-start;
    font-size: 20px;
    font-weight: bolder;
}

.input {
    height: 25px;
}

.error {
    align-self: flex-start;
    color: red;
}

.button {
    margin-top: 20px;
}

.button:hover {
    background-color: #e6e6e6;
}